<!Doctype html>
<htmal lang="en">  
<html>
    <head>
        <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
        <title>Saludo</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h1>Welcome, {{ usuario }}!</h1> #buscarlo en la base de datos para mostrarlo
                </div>
            </div>
        </div>
    </body>
</html>